* {
  font-family: 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: 13px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0px;
  font-weight: 500;
}

#cpu,
#memory {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; /* 5px top/bottom margin, 0px left/right (base for individual control) */
  border-radius: 6px; /* These modules are always rounded */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  /* Transition for background-color and color only */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#cpu:hover,
#memory:hover {
  background-color: rgb(41, 42, 53); /* Brighter highlight */
}

#memory {
	margin-left: 5px;
}

#clock {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px; /* This module is always rounded */
  box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#clock:hover {
  background-color: rgba(153, 209, 219, 0.1); /* Brighter highlight */
}


#bluetooth,
#pulseaudio,
#network,
#battery {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; 
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#pulseaudio {
  color: #c6d0f5;
}

#network {
  color: #c6d0f5;
}
#network.disconnected {
  color: #e78284;
}

#bluetooth {
  margin-left: 0px; 
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#bluetooth {
  color: #888888;
  font-size: 16px;
}
#bluetooth.on {
  color: #2196f3;
}
#bluetooth.connected {
  color: #99d1db;
}

#battery {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 7px;
}
#battery {
  color: #99d1db;;
}
#battery.charging {
  color: #a6d189;
}
#battery.warning:not(.charging) {
  color: #e78284;
}

#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover {
  background-color: rgb(41, 42, 53);
}

/* --- Tooltip Styles --- */
tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
